:root{
    --mainColor:#242728;
    --secondaryColor: #181a1b;

    --borderColor: #c1c1c1;

    --mainText: #e8e6e3;
    --secondaryText: #e8e6e3;

    --preview8g:rgb(80, 200, 78, 0.8);

    --previewShadow: #40b83e;
}


html, body {
    padding: 0;
    margin: 0;
    background-color: lightblue;
  }
h1, h2, h3, h4, h5, h6, strong{
    color: var(--mainText);
    font-family: 'Anton', sans-serif;
}
p, li, span, label, input, textarea{
    color: var(--secondaryText);
    font-family: 'Inconsolata', monospace;
}
a{
    text-decoration: none;
    color:aqua;
}

ul{
    list-style: none;
}
h1{ font-size: 56px;}
h2{ font-size: 36px;}
h3{ font-size: 28px;}
h4{ font-size: 24px;}
h5{ font-size: 20px;}
h6{ font-size: 16px;}

.s1{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}
.s2{
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper{
    display: grid;

    text-align: center;
    align-content: center;
    min-height: 10em;
}
.intro-wrapper{
    background-color: #1e1e1e;
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    

    box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);

    
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-template-areas: 
    'nav-wrapper nav-wrapper'
    'left-column right-column'
}

.nav-wrapper{
    grid-area:nav-wrapper;
    border-radius: 10px 10px 0 0 ;
    background-color: #181a1b;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navigation{
    margin: 0;
    padding: 10px;
}

#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-right: 5px
}
.dots-wrapper{
    display:flex;
    padding: 10px;
}
.browser-dot{
    height: 15px;
    width: 15px;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
}
.left-column{
    grid-area:left-column;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    align-content: center;
 
}
#profile-pic{
height: 200px;
width: 200px;
object-fit: cover;

}

.right-column{

    grid-area:right-column;
    display: grid;
    align-content: center;
    
    padding-bottom: 50px;
}

#preview{
    width: 300px;
    border: 1.5 solid yellow;
    background-color: var(--preview8g);
    padding:15px;
    position: relative;
}

.corner{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border:1.5px solid #12b208;
    background-color: #fff;
    position: absolute;
}

#corner-tl{
    top:-5px;
    left: -5px;
}
#corner-tr{
    top:-5px;
    right: -5px;
}
#corner-bl{
    bottom:-5px;
    left: -5px;
}
#corner-br{
    bottom: -5px;
    right: -5px;
}

.about-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));
    padding-bottom: 50px;
    padding-top: 50px;
}

#skills{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
}
#preview-shadow{
    background-color: var(--previewShadow);
    width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px
}

.social-links{
    display: grid;
    align-content: center;
    text-align: center;
}

#social_img{
    width: 100%;
}

.post-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.thumbnail{
    height: 200px;
    width: 200px;
    object-fit: cover;
}

@media screen and (max-width: 950px){
    .intro-wrapper{
        grid-template-columns: 1fr;
        
        grid-template-areas: 
        'nav-wrapper'
        'left-column' 
        'right-column'
    }
    .main-container{
        width: 95%;
    }
    .right-column{
        justify-content: center;
    }
}
@media screen and (max-width: 700px){
    .post-wrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
    .post-preview{
        padding-bottom: 2em;
    }
}

input {
    background-color: #5A6266;
}

select {
    color: var(--secondaryText);
    background-color: #5A6266;
}

select {
    color: var(--secondaryText);
    background-color: #5A6266;
}

#blankout {
    z-index: 1;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    visibility: hidden;
    background-color: rgba(127, 127, 127, .5);
}

@keyframes loadingAnimation {
    /*0% {transform: rotate(0deg)}
    50% {transform: rotate(180deg)}*/
    from {
	    transform: rotate(0deg);
    }
    to {
	    transform: rotate(359deg);
    }
}

#loading {
	animation-name: loadingAnimation;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
